---
Language:        Cpp
BasedOnStyle:    GNU
IndentWidth:     2
UseTab:          Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit:     79
